:root {
  --color-black: #162126;
  --color-gray: #889190;
  --color-white: #fefefe;
  --color-red: #da1430;
  --color-lightgray: #f4f4f4;
  --color-darkgray: #d9d9d9;
}

/*Subclasses*/
.bg-black {
  background-color: var(--color-black) !important;
}

.bg-gray {
  background-color: var(--color-gray);
}



/*Font*/

/* Header styling */
h1,
.slogan,
.header {
  font-family: 'Antique Olive STD Nord', sans-serif;
  font-weight: 700;
  font-style: italic;
  font-size: 300%;
}


/* Main text styling */
body,
.p {
  font-family: 'SF Pro Display', sans-serif;
  font-weight: 400;
  font-size: larger;
}



.btn {
  font-family: 'Antique Olive STD Nord', sans-serif;
  font-weight: 700;
  font-style: italic;
  font-size: 120%;
}


.club-btn {
  width: 200px;
  height: 80px;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s ease;
}


.header-white {
  color: var(--color-white);
}

.login-btn {
  background-color: var(--color-red);
  color: var(--color-white);
}

.login-btn:hover {
  background-color: var(--color-black);
  color: var(--color-white);
}

